.sidebar {
    padding: 20px 10px 20px 10px;
    background-color: #7CE6EE;
    width: 10%;
    min-width: fit-content;
    height: 100%;
    flex: 1;
}

.texts {
    color: #031716;
    font-size: 20px;
    padding: 5px 0 5px 0;
}