.sidebar {
    padding: 20px 10px 20px 10px;
    background-color: #1b4042;
    width: 10%;
    min-width: fit-content;
    flex: 1;
}

.texts {
    color: #DBF8FA;
    font-size: 20px;
    padding: 10px 0 10px 0;
}