/* body {
    background-color: black;
} */

/* src/GitHubFileLoader.module.css */
.githubFileLoader {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Add any additional styles as needed */
