.category {
    padding: 20px 10px 20px 10px;
    background-color: #031716;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    min-width: fit-content;
    flex: 1;
}

.title {
    font-size: 22px;
    color: #DBF8FA;
}

.categoryLink {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
    color: #DBF8FA;
}

.default_all, .default_experiences, .default_books, .default_films, .default_lgbt, .default_tech {
    font-size: 20px;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.default_all{
    background-color: #8A2BE2;
}

.default_tech{
    background-color: #00BFFF;
}

.default_experiences{
    background-color: #00FF00;
}

.default_books{
    background-color: #FFFF00;
}

.default_films{
    background-color: #FFA500;
}

.default_lgbt{
    background-color: #FF0000;
}

.active {
    background-color: #36454f; /* You can customize the active background color */
    font-size: 20px;
    color: whiteblack;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

@media only screen and (max-width: 1000px) {
    .category {
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: 5px;
        padding: 10px 30px 10px 30px;
    }

    .title {
        display: none;
    }

    .default_all, .default_experiences, .default_books, .default_films, .default_lgbt, .default_tech, .active {
        font-size: 15px;
        font-weight: 400;
        margin: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .category {
        padding: 20px 10px 20px 10px;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        flex: 1;
    }

    .default_all, .default_experiences, .default_books, .default_films, .default_lgbt, .default_tech, .active {
        font-size: 15px;
        font-weight: 400;
        margin: 0px;
    }
}
