.category {
    padding: 20px 10px 20px 10px;
    background-color: #031716;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    min-width: fit-content;
    flex: 1;
}

.title {
    font-size: 22px;
    color: #DBF8FA;
}

.categoryLink {
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
    color: #DBF8FA;
}

.default {
    background-color: red; /* Default background color */
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.active {
    background-color: #36454f; /* You can customize the active background color */
}

@media only screen and (max-width: 1000px) {
    .category {
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: 20px;
        padding: 10px 30px 10px 30px;
    }

    .title {
        display: none;
    }

    .default, .active {
        font-size: 15px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 500px) {
    .category {
        padding: 20px 10px 20px 10px;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        flex: 1;
    }

    .default, .active {
        font-size: 15px;
        font-weight: 400;
    }
}
